<?xml version="1.0"?>

<model>
  <name>NUAV Frog V2 with LiftDrag ArduCopter Plugins</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Blake McHale</name>
  </author>

  <maintainer email="mchale.blake@gmail.com">Blake McHale</maintainer>


  <description>
    starting with frog_v2
    add LiftDragPlugin
    add ArduCopterPlugin
  </description>
  <depend>
    <model>
      <uri>model://frog_v2</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
