<?xml version='1.0'?>
<sdf version="1.6" xmlns:xacro='http://ros.org/wiki/xacro'>
<world name="default">
  <xacro:arg name="namespace" default="swarm_carrier"/>
  <xacro:arg name="addr" default="127.0.0.1"/>
  <xacro:arg name="port_in" default="9002"/>
  <xacro:arg name="port_out" default="9003"/>
  <xacro:property name="namespace" value="$(arg namespace)"/>
  <xacro:property name="addr" value="$(arg addr)"/>
  <xacro:property name="port_in" value="$(arg port_in)"/>
  <xacro:property name="port_out" value="$(arg port_out)"/>
  <model name="swarm_carrier">
    <include>
      <uri>model://iris_with_standoffs</uri>
    </include>

    <model name="realsense_camera_front">
      <include>
        <uri>model://realsense_camera</uri>
        <pose>0.13 0 0.1 0 0 0</pose>
      </include>
    </model>
    <joint name="iris_realsense_front_mount" type="revolute">
      <parent>iris::base_link</parent>
      <child>realsense_camera_front::realsense_camera::link</child>
      <axis>
        <limit>
          <lower>0</lower>
          <upper>0</upper>
        </limit>
        <xyz>0 0 1</xyz>
        <use_parent_model_frame>true</use_parent_model_frame>
      </axis>
    </joint>

    <include>
      <uri>model://wireless_antenna1</uri>
      <name>wirelessReceiver1</name>
      <pose>0 0 0 0 0 0</pose>
    </include>

    <joint name="iris_wireless_antenna1_mount" type="fixed">
      <parent>iris::base_link</parent>
      <child>wirelessReceiver1::base_link</child>
      <axis>
        <limit>
          <lower>0</lower>
          <upper>0</upper>
        </limit>
        <xyz>0 0 1</xyz>
        <use_parent_model_frame>true</use_parent_model_frame>
      </axis>
    </joint>

    <!-- <include>
      <uri>model://wireless_antenna2</uri>
      <name>wirelessReceiver2</name>
      <pose>0 0 0 0 0 1.047</pose>
    </include>

    <joint name="iris_wireless_antenna2_mount" type="fixed">
      <parent>iris::base_link</parent>
      <child>wirelessReceiver2::base_link</child>
      <axis>
        <limit>
          <lower>0</lower>
          <upper>0</upper>
        </limit>
        <xyz>0 0 1</xyz>
        <use_parent_model_frame>true</use_parent_model_frame>
      </axis>
    </joint>

    <include>
      <uri>model://wireless_antenna3</uri>
      <name>wirelessReceiver3</name>
      <pose>0 0 0 0 0 2.0944</pose>
    </include>

    <joint name="iris_wireless_antenna3_mount" type="fixed">
      <parent>iris::base_link</parent>
      <child>wirelessReceiver3::base_link</child>
      <axis>
        <limit>
          <lower>0</lower>
          <upper>0</upper>
        </limit>
        <xyz>0 0 1</xyz>
        <use_parent_model_frame>true</use_parent_model_frame>
      </axis>
    </joint>

    <include>
      <uri>model://wireless_antenna4</uri>
      <name>wirelessReceiver4</name>
      <pose>0 0 0 0 0 3.157</pose>
    </include>

    <joint name="iris_wireless_antenna4_mount" type="fixed">
      <parent>iris::base_link</parent>
      <child>wirelessReceiver4::base_link</child>
      <axis>
        <limit>
          <lower>0</lower>
          <upper>0</upper>
        </limit>
        <xyz>0 0 1</xyz>
        <use_parent_model_frame>true</use_parent_model_frame>
      </axis>
    </joint>

    <include>
      <uri>model://wireless_antenna5</uri>
      <name>wirelessReceiver5</name>
      <pose>0 0 0 0 0 4.19</pose>
    </include>

    <joint name="iris_wireless_antenna5_mount" type="fixed">
      <parent>iris::base_link</parent>
      <child>wirelessReceiver5::base_link</child>
      <axis>
        <limit>
          <lower>0</lower>
          <upper>0</upper>
        </limit>
        <xyz>0 0 1</xyz>
        <use_parent_model_frame>true</use_parent_model_frame>
      </axis>
    </joint>

    <include>
      <uri>model://wireless_antenna6</uri>
      <name>wirelessReceiver6</name>
      <pose>0 0 0 0 0 5.26</pose>
    </include>

    <joint name="iris_wireless_antenna6_mount" type="fixed">
      <parent>iris::base_link</parent>
      <child>wirelessReceiver6::base_link</child>
      <axis>
        <limit>
          <lower>0</lower>
          <upper>0</upper>
        </limit>
        <xyz>0 0 1</xyz>
        <use_parent_model_frame>true</use_parent_model_frame>
      </axis>
    </joint> -->


    <!-- visual markers for debugging
    <link name="rotor_0_blade_1_cp">
      <gravity>0</gravity>
      <pose>0.13 -0.22 0.216 0 -0 0</pose>
      <visual name='rotor_0_visual_root'>
        <pose>0 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_0_visual_tip'>
        <pose>0.12 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_0_visual_cp'>
        <pose>0.084 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_0_visual_cp_forward'>
        <pose>0.084 0.02 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_0_visual_cp_upward'>
        <pose>0.084 0 0.02 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
    </link>
    <link name="rotor_0_blade_2_cp">
      <gravity>0</gravity>
      <pose>0.13 -0.22 0.216 0 -0 0</pose>
      <visual name='rotor_0_visual_root'>
        <pose>0 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_0_visual_tip'>
        <pose>-0.12 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_0_visual_cp'>
        <pose>-0.084 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_0_visual_cp_forward'>
        <pose>-0.084 -0.02 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_0_visual_cp_upward'>
        <pose>-0.084 0 0.02 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
    </link>

    <link name="rotor_1_blade_1_cp">
      <gravity>0</gravity>
      <pose>-0.13 0.2 0.216 0 -0 0</pose>
      <visual name='rotor_1_visual_root'>
        <pose>0 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_1_visual_tip'>
        <pose>0.12 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_1_visual_cp'>
        <pose>0.084 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_1_visual_cp_forward'>
        <pose>0.084 0.02 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_1_visual_cp_upward'>
        <pose>0.084 0 0.02 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
    </link>
    <link name="rotor_1_blade_2_cp">
      <gravity>0</gravity>
      <pose>-0.13 0.2 0.216 0 -0 0</pose>
      <visual name='rotor_1_visual_root'>
        <pose>0 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_1_visual_tip'>
        <pose>-0.12 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_1_visual_cp'>
        <pose>-0.084 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_1_visual_cp_forward'>
        <pose>-0.084 -0.02 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_1_visual_cp_upward'>
        <pose>-0.084 0 0.02 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
    </link>

    <link name="rotor_2_blade_1_cp">
      <gravity>0</gravity>
      <pose>0.13 0.22 0.216 0 -0 0</pose>
      <visual name='rotor_2_visual_root'>
        <pose>0 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_2_visual_tip'>
        <pose>0.12 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_2_visual_cp'>
        <pose>0.084 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_2_visual_cp_forward'>
        <pose>0.084 -0.02 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_2_visual_cp_upward'>
        <pose>0.084 0 0.02 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
    </link>
    <link name="rotor_2_blade_2_cp">
      <gravity>0</gravity>
      <pose>0.13 0.22 0.216 0 -0 0</pose>
      <visual name='rotor_2_visual_root'>
        <pose>0 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_2_visual_tip'>
        <pose>-0.12 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_2_visual_cp'>
        <pose>-0.084 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_2_visual_cp_forward'>
        <pose>-0.084 0.02 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_2_visual_cp_upward'>
        <pose>-0.084 0 0.02 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
    </link>

    <link name="rotor_3_blade_1_cp">
      <gravity>0</gravity>
      <pose>-0.13 -0.2 0.216 0 -0 0</pose>
      <visual name='rotor_3_visual_root'>
        <pose>0 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_3_visual_tip'>
        <pose>0.12 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_3_visual_cp'>
        <pose>0.084 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_3_visual_cp_forward'>
        <pose>0.084 -0.02 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_3_visual_cp_upward'>
        <pose>0.084 0 0.02 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
    </link>
    <link name="rotor_3_blade_2_cp">
      <gravity>0</gravity>
      <pose>-0.13 -0.2 0.216 0 -0 0</pose>
      <visual name='rotor_3_visual_root'>
        <pose>0 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_3_visual_tip'>
        <pose>-0.12 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.01</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_3_visual_cp'>
        <pose>-0.084 0 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_3_visual_cp_forward'>
        <pose>-0.084 0.02 0 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
      <visual name='rotor_3_visual_cp_upward'>
        <pose>-0.084 0 0.02 0 -0 0</pose>
        <geometry>
          <sphere>
            <radius>0.003</radius>
          </sphere>
        </geometry>
      </visual>
    </link>
    -->

    <!-- plugins -->
    <plugin name="rotor_0_blade_1" filename="libLiftDragPlugin.so">
      <a0>0.3</a0>
      <alpha_stall>1.4</alpha_stall>
      <cla>4.2500</cla>
      <cda>0.10</cda>
      <cma>0.00</cma>
      <cla_stall>-0.025</cla_stall>
      <cda_stall>0.0</cda_stall>
      <cma_stall>0.0</cma_stall>
      <area>0.002</area>
      <air_density>1.2041</air_density>
      <cp>0.084 0 0</cp>
      <forward>0 1 0</forward>
      <upward>0 0 1</upward>
      <link_name>iris::rotor_0</link_name>
    </plugin>
    <plugin name="rotor_0_blade_2" filename="libLiftDragPlugin.so">
      <a0>0.3</a0>
      <alpha_stall>1.4</alpha_stall>
      <cla>4.2500</cla>
      <cda>0.10</cda>
      <cma>0.00</cma>
      <cla_stall>-0.025</cla_stall>
      <cda_stall>0.0</cda_stall>
      <cma_stall>0.0</cma_stall>
      <area>0.002</area>
      <air_density>1.2041</air_density>
      <cp>-0.084 0 0</cp>
      <forward>0 -1 0</forward>
      <upward>0 0 1</upward>
      <link_name>iris::rotor_0</link_name>
    </plugin>

    <plugin name="rotor_1_blade_1" filename="libLiftDragPlugin.so">
      <a0>0.3</a0>
      <alpha_stall>1.4</alpha_stall>
      <cla>4.2500</cla>
      <cda>0.10</cda>
      <cma>0.00</cma>
      <cla_stall>-0.025</cla_stall>
      <cda_stall>0.0</cda_stall>
      <cma_stall>0.0</cma_stall>
      <area>0.002</area>
      <air_density>1.2041</air_density>
      <cp>0.084 0 0</cp>
      <forward>0 1 0</forward>
      <upward>0 0 1</upward>
      <link_name>iris::rotor_1</link_name>
    </plugin>
    <plugin name="rotor_1_blade_2" filename="libLiftDragPlugin.so">
      <a0>0.3</a0>
      <alpha_stall>1.4</alpha_stall>
      <cla>4.2500</cla>
      <cda>0.10</cda>
      <cma>0.00</cma>
      <cla_stall>-0.025</cla_stall>
      <cda_stall>0.0</cda_stall>
      <cma_stall>0.0</cma_stall>
      <area>0.002</area>
      <air_density>1.2041</air_density>
      <cp>-0.084 0 0</cp>
      <forward>0 -1 0</forward>
      <upward>0 0 1</upward>
      <link_name>iris::rotor_1</link_name>
    </plugin>

    <plugin name="rotor_2_blade_1" filename="libLiftDragPlugin.so">
      <a0>0.3</a0>
      <alpha_stall>1.4</alpha_stall>
      <cla>4.2500</cla>
      <cda>0.10</cda>
      <cma>0.00</cma>
      <cla_stall>-0.025</cla_stall>
      <cda_stall>0.0</cda_stall>
      <cma_stall>0.0</cma_stall>
      <area>0.002</area>
      <air_density>1.2041</air_density>
      <cp>0.084 0 0</cp>
      <forward>0 -1 0</forward>
      <upward>0 0 1</upward>
      <link_name>iris::rotor_2</link_name>
    </plugin>
    <plugin name="rotor_2_blade_2" filename="libLiftDragPlugin.so">
      <a0>0.3</a0>
      <alpha_stall>1.4</alpha_stall>
      <cla>4.2500</cla>
      <cda>0.10</cda>
      <cma>0.00</cma>
      <cla_stall>-0.025</cla_stall>
      <cda_stall>0.0</cda_stall>
      <cma_stall>0.0</cma_stall>
      <area>0.002</area>
      <air_density>1.2041</air_density>
      <cp>-0.084 0 0</cp>
      <forward>0 1 0</forward>
      <upward>0 0 1</upward>
      <link_name>iris::rotor_2</link_name>
    </plugin>

    <plugin name="rotor_3_blade_1" filename="libLiftDragPlugin.so">
      <a0>0.3</a0>
      <alpha_stall>1.4</alpha_stall>
      <cla>4.2500</cla>
      <cda>0.10</cda>
      <cma>0.00</cma>
      <cla_stall>-0.025</cla_stall>
      <cda_stall>0.0</cda_stall>
      <cma_stall>0.0</cma_stall>
      <area>0.002</area>
      <air_density>1.2041</air_density>
      <cp>0.084 0 0</cp>
      <forward>0 -1 0</forward>
      <upward>0 0 1</upward>
      <link_name>iris::rotor_3</link_name>
    </plugin>
    <plugin name="rotor_3_blade_2" filename="libLiftDragPlugin.so">
      <a0>0.3</a0>
      <alpha_stall>1.4</alpha_stall>
      <cla>4.2500</cla>
      <cda>0.10</cda>
      <cma>0.00</cma>
      <cla_stall>-0.025</cla_stall>
      <cda_stall>0.0</cda_stall>
      <cma_stall>0.0</cma_stall>
      <area>0.002</area>
      <air_density>1.2041</air_density>
      <cp>-0.084 0 0</cp>
      <forward>0 1 0</forward>
      <upward>0 0 1</upward>
      <link_name>iris::rotor_3</link_name>
    </plugin>
    <plugin name="arducopter_plugin" filename="libArduPilotPlugin.so">
      <fdm_addr>127.0.0.1</fdm_addr>
      <fdm_port_in>9002</fdm_port_in>
      <fdm_port_out>9003</fdm_port_out>
      <!--
          Require by APM :
          Only change model and gazebo from XYZ to XY-Z coordinates
      -->
      <modelXYZToAirplaneXForwardZDown>0 0 0 3.141593 0 0</modelXYZToAirplaneXForwardZDown>
      <gazeboXYZToNED>0 0 0 3.141593 0 0</gazeboXYZToNED>
      <imuName>${namespace}::iris::iris/imu_link::imu_sensor</imuName>
      <connectionTimeoutMaxCount>5</connectionTimeoutMaxCount>
      <control channel="0">
      <!--
          incoming control command [0, 1]
          so offset it by 0 to get [0, 1]
          and divide max target by 1.
          offset = 0
          multiplier = 838 max rpm / 1 = 838
        -->
        <type>VELOCITY</type>
        <offset>0</offset>
        <p_gain>0.20</p_gain>
        <i_gain>0</i_gain>
        <d_gain>0</d_gain>
        <i_max>0</i_max>
        <i_min>0</i_min>
        <cmd_max>2.5</cmd_max>
        <cmd_min>-2.5</cmd_min>
        <jointName>iris::rotor_0_joint</jointName>
        <multiplier>838</multiplier>
        <controlVelocitySlowdownSim>1</controlVelocitySlowdownSim>
      </control>
      <control channel="1">
        <type>VELOCITY</type>
        <offset>0</offset>
        <p_gain>0.20</p_gain>
        <i_gain>0</i_gain>
        <d_gain>0</d_gain>
        <i_max>0</i_max>
        <i_min>0</i_min>
        <cmd_max>2.5</cmd_max>
        <cmd_min>-2.5</cmd_min>
        <jointName>iris::rotor_1_joint</jointName>
        <multiplier>838</multiplier>
        <controlVelocitySlowdownSim>1</controlVelocitySlowdownSim>
      </control>
      <control channel="2">
        <type>VELOCITY</type>
        <offset>0</offset>
        <p_gain>0.20</p_gain>
        <i_gain>0</i_gain>
        <d_gain>0</d_gain>
        <i_max>0</i_max>
        <i_min>0</i_min>
        <cmd_max>2.5</cmd_max>
        <cmd_min>-2.5</cmd_min>
        <jointName>iris::rotor_2_joint</jointName>
        <multiplier>-838</multiplier>
        <controlVelocitySlowdownSim>1</controlVelocitySlowdownSim>
      </control>
      <control channel="3">
        <type>VELOCITY</type>
        <offset>0</offset>
        <p_gain>0.20</p_gain>
        <i_gain>0</i_gain>
        <d_gain>0</d_gain>
        <i_max>0</i_max>
        <i_min>0</i_min>
        <cmd_max>2.5</cmd_max>
        <cmd_min>-2.5</cmd_min>
        <jointName>iris::rotor_3_joint</jointName>
        <multiplier>-838</multiplier>
        <controlVelocitySlowdownSim>1</controlVelocitySlowdownSim>
      </control>
    </plugin>
    
  </model>
  </world>
</sdf>
